---
import Layout from "../layouts/Layout.astro";
import { Header } from "@/components/Header";
import { Footer } from "@/components/Footer";
import { CVSSCalculator } from "@/components/CVSSCalculator";
import { ScoreHistory } from "@/components/ScoreHistory";
import { makeJsonLd } from "@/lib/make-json-ld";
import type { WebPage } from "schema-dts";

const date = new Date();
const json_ld = makeJsonLd<WebPage>({
  "@type": "WebPage",
  "@context": "https://schema.org",
  "@id": "https://quant.cyberpath-hq.com/",
  url: "https://quant.cyberpath-hq.com/",
  name: "Quant - Modern CVSS Score Calculator",
  description:
    "An intuitive, modern CVSS score calculator that makes vulnerability severity assessment fast, accurate, and accessible. Supports CVSS v4.0, v3.1, v3.0, and v2.0.",
  inLanguage: "en-US",
  author: "CyberPath <support@cyberpath-hq.com>",
  image: {
    "@type": "ImageObject",
    url: "https://quant.cyberpath-hq.com/CyberPath-og.webp",
    width: "1920",
    height: "933",
    description: "Quant - Modern CVSS Score Calculator",
  },
  mainEntityOfPage: {
    "@type": "WebPage",
    "@id": "https://quant.cyberpath-hq.com/",
  },
  datePublished: `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`,
  dateModified: `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`,
  publisher: {
    "@type": "Person",
    name: "CyberPath",
    email: "support@cyberpath-hq.com",
  },
});
---

<Layout
  JSON_LD={json_ld}
  seo={{
    title: "Quant - Modern CVSS Score Calculator",
    canonical: "https://quant.cyberpath-hq.com/",
    description:
      "An intuitive, modern CVSS score calculator that makes vulnerability severity assessment fast, accurate, and accessible. Supports CVSS v4.0, v3.1, v3.0, and v2.0.",
    openGraph: {
      url: "https://quant.cyberpath-hq.com/",
      title: "Quant - Modern CVSS Score Calculator",
      description:
        "An intuitive, modern CVSS score calculator that makes vulnerability severity assessment fast, accurate, and accessible. Supports CVSS v4.0, v3.1, v3.0, and v2.0.",
      site_name: "Quant",
      images: [
        {
          url: "https://quant.cyberpath-hq.com/CyberPath-og.webp",
          width: 1920,
          height: 933,
          alt: "Quant - Modern CVSS Score Calculator",
        },
      ],
    },
    additionalMetaTags: [
      {
        name: "keywords",
        content:
          "CVSS, vulnerability scoring, security assessment, CVSS v4.0, CVSS v3.1, CVSS calculator, cybersecurity",
      },
    ],
    twitter: {
      cardType: "summary_large_image",
      handle: "@cyberpath_hq",
      site: "@cyberpath_hq",
    },
  }}
>
  <Header client:load />
  <main class="min-h-screen bg-background">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-12 space-y-8 grid grid-cols-1 gap-y-16">
      <CVSSCalculator client:load />
      <ScoreHistory client:load />
    </div>
  </main>
  <Footer />
</Layout>
